        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2>Fields</h2>
            <ul class="nav nav-tabs">
                <li><a href="forms.view.html">Forms</a></li>
                <li class="active"><a href="#">Fields</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <br/>
                    <form >
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                <label for="inputFirstName">First Name:</label>
                                </span>
                                <input type="text" aria-describedby="basic-addon2" class="form-control" id="inputFirstName"
                                       placeholder="Enter First Name">
                                <span class="input-group-addon">
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                <label for="inputLastName">Last Name:</label>
                                </span>
                                <input type="text" aria-describedby="basic-addon2" class="form-control" id="inputLastName"
                                       placeholder="Enter Last Name">
                                <span class="input-group-addon">
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                <label for="inputDOB">Date of birth:</label>
                                </span>
                                <input type="date" aria-describedby="basic-addon2" class="form-control" id="inputDOB"
                                       placeholder="Select">
                                <span class="input-group-addon">
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                <label>Gender:</label>
                                </span>
                                <select aria-describedby="basic-addon2" class="form-control">
                                    <option value="Select">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <span class="input-group-addon">
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                <label>Roles:</label>
                                </span>
                                <label class="form-control" aria-describedby="basic-addon2">
                                    <input type="checkbox" value=""> Admin
                                    <input type="checkbox" value=""> Student
                                    <input type="checkbox" value=""> User
                                </label>
                                <span class="input-group-addon">
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                <label>License Agreement:</label>
                                </span>
                                <label class="form-control" aria-describedby="basic-addon2">
                                    <input type="radio" name="rd"> Yes
                                    <input type="radio" name="rd"> No
                                </label>
                                <span class="input-group-addon">
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                </span>
                            </div>
                        </div>

                        <hr style="border-top-color: #777" size=4>

                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                <label>Add New Field:</label>
                                </span>
                                <select aria-describedby="basic-addon2" class="form-control">
                                    <option value="text">Single Line Text</option>
                                    <option value="date">Date</option>
                                    <option value="dropdown">Drop down</option>
                                    <option value="radio">Radio Button</option>
                                    <option value="paragraph">Paragraph</option>
                                </select>
                                <span class="input-group-addon">
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>

                                </span>
                            </div>
                        </div>


                    </form>

                </div>

            </div>
        </div>
