<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Welcome ! {{$location.url()}}</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam maximus enim ac finibus. Cras mollis viverra efficitur. Morbi libero erat, hendrerit eget luctus vel, varius a turpis. Morbi finibus sed lorem vel luctus. Curabitur dignissim sem non efficitur tristique. Mauris at hendrerit leo. Phasellus in sem eu nisl sollicitudin tristique. Morbi et eros nunc. Mauris lacinia auctor purus, mollis rhoncus sem vehicula in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae enim sit amet mauris ultricies maximus sed id eros. Cras feugiat id neque ac dignissim. In hac habitasse platea dictumst.</p>
    </div>
</div>