
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="RegisterController">
            <h1 class="page-header">Register</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUserName" class="col-sm-2 control-label">Username :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputUserName" ng-model="user.username" placeholder="Enter Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password :</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="Enter Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputVerifyPassword" class="col-sm-2 control-label">Verify Password :</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="inputVerifyPassword"
                               placeholder="Enter Password again">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email :</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="inputEmail" ng-model="user.emails" placeholder="Enter Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-click="registerUser(user)" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
